@import 'theme/main';

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    height: 70px;
    width: 100%;
    background-color: #6D2080;
    position: absolute;
    top: 0;
}