@import 'theme/main';

.welcome-section {
    background: url('/img/bison.jpg') center / cover;
    background-color: rgba(#000, 0.7);
}

@include media-breakpoint-up(xs) {
    .welcome-section {
        min-height: 300px;
    }
}

@include media-breakpoint-up(sm) {
    .welcome-section {
        min-height: 400px;
    }
}

@include media-breakpoint-up(md) {
    .welcome-section {
        min-height: 550px;
    }
}
